.Top{
  background-image: url(../images/rose.jpg);
  padding: 50px 100px;
  margin: 50px ;
  background-repeat: no-repeat;
  background-size: auto;
}
.master{
background-color:#eee7d7;
}
#header{
  font-size: 50px;
  font-family: sans-serif;
  color: green;
  text-align: left;
}
#pheader{
  font-size: 15px;
  font-family: sans-serif;
  color: black;

}
.Middle a{
  color: black;
  padding: 50px 50px ;
}


.about-image{
  background-image: url(../images/beth.jpeg);
  width: 800px;
  height: 700px;
  background-repeat: no-repeat;
  margin-left: 160px;
  margin-top: 40px;
}
#about-b {
  text-align:right;
  padding-top: 450px;
  padding-right: 100px;
  font-size: 20px;
}
.about-beth{
  padding-top: 10px;
  padding-right: 100px;
  margin-left: 160px;
  margin-right: 100px;
}
.about-Job{
  margin-left: 160px;
}
#Job{
  color: green;
}
.about-edu{
  margin-left: 160px;
}
#edu{
  color: green;
}
.slide-container{
   width:800px;
   height: 600px;
}
